:root {
  --color-fondo: #121212;
  --color-section: #1E1E1E;
  --color-texto-principal: #f1f1f1;
  --color-texto-secundario: #AAAAAA;
  --color-borde: #333333;
  --fuente-base: system-ui, -apple-system, BlinkMacSystemFont, 
                  "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --resplandor-hover: 0 0 10px 2px rgba(var(--color-acento-rgb), 0.3);
  --radio-borde: 8px;

    --primary-100:#FFC107;
    --primary-200:#dda400;
    --primary-300:#916400;
    --accent-100:#00BCD4;
    --accent-200:#005e74;
    --text-100:#FFFFFF;
    --text-200:#9c9c9c;
    --bg-100:#0B0F2B;
    --bg-200:#1a1e3b;
    --bg-300:#333554;
}

@font-face {
    font-family: 'Outfit';
    src:
    local('Outfit'),
    url(./fonts/Outfit-VariableFont_wght.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
} 

.trailer-video > iframe {
    width: 100%;
    height: 50%;
}

.container-maps > iframe {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.show-modal {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 75%;
    height: 75%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 4;
    position: fixed;
    gap: 20px;

   

 
}

.modal-iframe span {
    gap: 4px;
}

span {
    display: flex;
    justify-content: end;
    align-items: center;

    
}

.icon-logo {
    width: 30px;
    height: 30px;
    fill: white;
}

.modal-iframe > button {
    align-self: flex-start;
    border: 0;
    border-radius: 20px;
    align-self: flex-end;
    width: 25%;
    text-align: end;
    background-color: #00bbd400;
   
}

.modal-iframe .video {
    height: 100%;
    width: 100%;
    align-self: center;
}



.blur-background {
    filter: blur(100px);
}

.blur-background {
    filter: blur(20px);
}


body {
    font-family: 'Outfit';
    background-color: var(--bg-100);
    color: var(--text-200);
    min-width: 600px;
    max-width: 100vw;
}

button {
    background-color: var(--primary-200);
    cursor: pointer;
    color: var(--text-100);

}

a {
    text-decoration: none;
    color: white;
    

}

header {
    background-color: var(--color-fondo-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}


nav a:hover,button:hover {
    color: var(--primary-100);
    transition: 300ms;
}

nav ul > button {
    background-color: rgba(0, 0, 255, 0);
    border: 0;
    padding: 0;
}

.hero {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    text-align: center;
    gap: 20px;
}

.hero::before {
    content: ''; 
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image/hero/interstellar.webp');
    background-position: 0 0px;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-cta button {
    transition: 300ms;
    
}


.hero-cta button:hover {
    background-color: var(--bg-200);
    
}

.content-stars {
    color: rgb(238, 238, 0);
}

.hero h1 {
    color: aliceblue;
    font-size: 3rem;
    text-shadow: var(--sombra-pop);
    font-size: 5rem;
}

.container-cards { 
    padding: 20px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-200);
    border-radius: 5px;
    gap: 20px;



}

.container-cards-grids {
   padding: 20px;
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-color: var(--bg-200);
    border-radius: 5px;
    gap: 20px;
}


.card {
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    
}

.card > h2 {
    display: none;
}

.card a {
    border: 0;
    background-color: var(--bg-300);
    border-radius: 20px;
   height: 550px;
   width: 400px;
    
}

.card img {
    width: 100%;
    height: 100%;
}

.card:hover > h2 {
    display: block;
    z-index: 1;
    position: absolute;
    color: var(--color-texto-principal);
    font-size: 2rem;

    align-self: center;


}




.hero-cta button {
    padding: 10px 20px;
    border-radius: var(--radio-borde);
    border: 0;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
}

section {
    margin-top: 20px;
    background-color: var(--color-principal);
    display: fle;
}

article {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

footer {
    background-color: var(--bg-300);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: var(--text-200);
    gap: 40px;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 100vw;
}


.networks-socials {
    display: flex;
    flex-direction: row;
    gap: 9px;
     width: 33,333333%;
}

.networks-socials i {
    margin-right: 5px;
}

.tittle-footer  {
    margin-bottom: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 9px;
     width: 33,333333%;
}

.contact i {
    margin-right: 5px;
}

.copyright {
   width: 33,333333%;
    
}

.button {
    background-color: var(--primary-200);
    border-radius: 20px;
    padding: 10px 30px;
}

.button > a {
    color: var(--color-texto-principal);
    font-weight: 700;
}

article > h1 {
    color: var(--color-texto-principal);
}

.card img {
    transition: 300ms;
    filter: saturate(100%);
}

.card:hover img {
    scale: 1.2;
    filter: brightness(0.5);
}

.button-mobile {
    display: none;
}

.menu-mobile {
    display: none;
}

@media (width < 650px) {
    header nav, .button {
        display: none;
    }

    .button-mobile {
        display: flex;
        position: relative; 
        z-index: 1 ; 
        width: 40px ; 
        cursor: pointer; 
        
   
    }

    .button-mobile button {
        border: 0;
        background-color: transparent;
        
   
    }

    

       .button-mobile.active {
        display: flex;
        position : fixed; 
        z-index : 5; 
        top: 30px;
        right: 20px;
        width : 40px ; 
        cursor : pointer; 
   
    }

    .networks-socials, .contact {
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        justify-content: center;

    }

    .menu-mobile.active {
          right: 0;
          transition: 0.5s;
    }

     .menu-mobile  {
        background-color: var(--bg-100);
        width: 100%;
        z-index: 5;
        display: flex;
        justify-content: center;
        height: 100vh;
        position: fixed;
        right: -800px;
        
    }

    .sobreponer {
        z-index: 9999999;
    }
    
    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        list-style: none;
    }

    .menu-mobile ul button {
        background-color: #005f7400;
        border: 0;
        font-size: 2rem;
    
    }




    .container-cards {
        flex-direction: column;
    }

   
    
}

/* CSS de film_detail.html */

.image-film{
    width: 600px;
} 

.tittle-img {
    width: fit-content;
    display: flex;
    padding: 0;
}

.tittle {
    text-align: center;
}

.detail-film {
    display: flex;
    align-items: end;
    gap: 50px;
    margin: 100px 200px;
    max-width: 100vw;
}

.days-availble {
    background-color: var(--bg-200);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.day-item {
    color: var(--color-texto-principal);
    background-color: var(--primary-100);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line-info > strong {
    margin-right: 5px;
}

@media (width < 650px) {
    .detail-film {
    flex-direction: column;
    max-width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 100vw;
}

.days-availble {
    justify-content: center;

    margin: auto;
}

.information > h2 {
    text-align: start;
    margin-left: 20px;
}

.trailer-film {
    display: flex;
    justify-content: center;
    align-items: center;
}


} 