* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 300px;
}

@font-face {
  font-family: 'Righteous-Regular';
    src: 
        
        local("Righteous"),
        url(./fonts/Righteous/Righteous-Regular.ttf)
}

body {
    font-family: "Righteous-Regular";
}

a {
    text-decoration: none;
    color: brown;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero {
    background-color: aqua;
}

.films-cinema {
    background-color: red;

}

.hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(image/interstellar.jpg);
    height: 500px;
    width: 100%;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-stars {
    color: rgb(238, 238, 0);
}

.hero h1 {
    color: aliceblue;
    font-size: 3rem;
    background-color: black;
}

.container-cards {
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 0);
}

.card {
    width: 400px;
    height: 400px;
    overflow: hidden;

}

