:root {
  --color-fondo: #121212;
  --color-section: #1E1E1E;
  --color-texto-principal: #f1f1f1;
  --color-texto-secundario: #AAAAAA;
  --color-borde: #333333;
  --fuente-base: system-ui, -apple-system, BlinkMacSystemFont, 
                  "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --resplandor-hover: 0 0 10px 2px rgba(var(--color-acento-rgb), 0.3);
  --radio-borde: 8px;

    --primary-100:#FFC107;
    --primary-200:#dda400;
    --primary-300:#916400;
    --accent-100:#00BCD4;
    --accent-200:#005e74;
    --text-100:#FFFFFF;
    --text-200:#9c9c9c;
    --bg-100:#0B0F2B;
    --bg-200:#1a1e3b;
    --bg-300:#333554;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
} 

iframe {
    width: 100%;
    height: 50%;
}


.show-modal {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    width: 75%;
    height: 75%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    backdrop-filter: blur(100px);
    z-index: 4;
    position: fixed;
    align-items: center;
    justify-content: center;
 
}

.modal-iframe > button {
    width: 50%;
    align-self: flex-end;
    border: 0;
    border-radius: 20px;
    padding: 20px;
}



.blur-background {
    filter: blur(100px);
}

.blur-background {
    filter: blur(20px);
}

img {
    width: 300px;
}

body {
    font-family: var(--fuente-base);
    background-color: var(--bg-100);
    color: var(--text-200);
}

button {
    background-color: var(--primary-200);
    cursor: pointer;
    color: var(--text-100);

}

a {
    text-decoration: none;
    color: white;
    

}

header {
    background-color: var(--color-fondo-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}


nav a:hover {
    color: var(--primary-100);
    transition: 300ms;
}

.hero {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    text-align: center;
    gap: 20px;
}

.hero::before {
    content: ''; 
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image/hero/interstellar.png');
    background-position: 0 0px;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-cta button {
    transition: 300ms;
    
}


.hero-cta button:hover {
    background-color: var(--bg-200);
    
}

.content-stars {
    color: rgb(238, 238, 0);
}

.hero h1 {
    color: aliceblue;
    font-size: 3rem;
    text-shadow: var(--sombra-pop);
    font-size: 5rem;
}

.container-cards { 
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: var(--bg-200);
    border-radius: 5px;


}

.card {
    z-index: 1;
    width: 300px;
    height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--sombra-pop);
    animation-name: zpopup;
    animation-duration: 200ms;
    animation: reveal auto linear both;
    animation-timeline: view();
    animation-range: 0px 600px;
    position: relative;
}

h2 {
    display: none;
}

.card:hover > h2 {
    display: block;
    z-index: 1;
    position: absolute;
    color: var(--color-texto-principal);
    font-size: 2rem;


}

@keyframes reveal {
    from {
        opacity: 0%;
        scale: 0;
    
    }

    to {
        transform: translateY(10px);
        scale: 1;
    }
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.hero-cta button {
    padding: 10px 20px;
    border-radius: var(--radio-borde);
    border: 0;
    width: 100px;
}

section {
    margin-top: 20px;
    background-color: var(--color-principal);
    display: fle;
}

article {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

footer {
    background-color: var(--bg-300);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: var(--text-200);
}

.networks-socials {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.networks-socials i {
    margin-right: 5px;
}

.tittle-footer  {
    margin-bottom: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.contact i {
    margin-right: 5px;
}

.button {
    background-color: var(--primary-200);
    border-radius: 20px;
    padding: 10px 30px;
}

.button > a {
    color: var(--color-texto-principal);
    font-weight: 700;
}

article > h1 {
    color: var(--color-texto-principal);
}

.card img {
    transition: 300ms;
    filter: saturate(100%);
}

.card:hover img {
    scale: 1.2;
    filter: brightness(0.5);
}

.menu-mobile {
    display: none;
}

@media (width < 650px) {
    header nav, .button {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }
}